@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background-color: #181C14;
  color: white;
}

.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-nav .nav-link {
  color: white;
}

.page-name {
  margin: 0.7em auto;
  width: 20%;
}
.page-name h1 {
  text-align: center;
  border-bottom: 1px solid white;
}

.show-container {
  background-color: #3C3D37;
  width: 40%;
  margin: 1em auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.show-container:hover {
  background-color: #aaa;
}
.show-container:hover h2 {
  background-color: #aaa;
}
.show-container:hover .show-info .show-description {
  background-color: #aaa;
}
.show-container:hover .show-info .show-description ul {
  background-color: #aaa;
}
.show-container h2 {
  text-align: center;
  margin: 1em 0 0 0;
  background-color: #3C3D37;
}
.show-container .img-show {
  max-width: 60%;
  width: auto;
  margin: 0.5em auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.show-container .img-show:hover {
  cursor: pointer;
}
.show-container .show-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-container .show-info .show-description {
  background-color: #3C3D37;
  width: 100%;
  display: flex;
}
.show-container .show-info .show-description ul {
  background-color: #3C3D37;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.5em 0;
}
.show-container .show-info .show-description ul li {
  background-color: #697565;
  display: flex;
  list-style: none;
  border: 1px solid white;
  margin: 0 auto;
  padding: 0.2em 0.6em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.show-container .show-info .show-description ul li::before {
  content: "●";
}
.show-container .show-info .show-description ul li p {
  background-color: #697565;
  margin: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 10% auto; /*15%fromthetopandcentered*/
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /*Couldbemoreorless,dependingonscreensize*/
  border-radius: 20px;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  -ms-border-radius: 2;
  -o-border-radius: 2;
}
.modal .modal-content .close {
  text-align: center;
  width: 10%;
  margin-left: auto;
}
.modal .modal-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .modal-content div .modal-title {
  text-align: center;
}
.modal .modal-content div .modal-img {
  max-width: 80%;
  width: auto;
  margin: 0 auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 1em 0;
}
.modal .modal-content div .modal-description .show-overview {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: white;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .shows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
  }
  .shows .show-container {
    width: 80%;
  }
  .modal .modal-content {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
